.logo {
  width: 95px;
  height: 45px;
  margin-left: 65px;
  margin-right: 150px;
  margin: 5px 65px;
}
nav {
  justify-content: space-around;
}
.container-fluid {
  margin-top: -8px;
}
.li:hover {
  color: white;
  border-bottom: 2px solid orange;
}
a {
  margin-right: 30px;
}
.li {
  color: orange;
}

.video {
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.h11 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 45px;
}
.videoText {
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 160px; */
}

.brides {
  color: #ff0000;
}
.but1:hover {
  color: orange;
  background-color: black;
}
.but1 {
  width: 220px;
  background: transparent;
  color: white;
  border-color: white;
  padding: 10px;
}
.rp {
  text-align: center;
  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 540;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ring {
  width: 190px;
  height: 190px;
}
.rtext {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.ringp {
  margin-top: -10px;
}
.but2:hover {
  background-color: white;
  border-color: white;
  color: orange;
}
.but2 {
  color: black;
  background-color: rgb(255, 68, 0);
  border-color: rgb(255, 68, 0);
  padding: 10px 20px;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.rs {
  color: orange;
}
